services:
  aktools:
    image: dgqyushen/aktools:latest
    container_name: aktools
    restart: unless-stopped
    ports:
      - "8080:8080"
    logging:
      driver: json-file
      options:
        max-size: 1m
